<!DOCTYPE html>
<html>
<head>
  <title>University Threads Online Store</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%=controller.controller_name%>'

<div id="banner">
  <%= image_tag("logo.png") %>
  <%= @page_title || "University Threads Online Store" %>
</div>
<div id="columns">
  <div id="side">
    <ul>
      <li><a href="http://www...">Home</a></li>
      <li><a href="http://www.../faq">Faq</a></li>
      <li><a href="http://www.../about">About Us</a></li>
      <li><a href="http://www.../contact">Contact</a></li>
    </ul>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>

</body>
</html>
